.App {
  background: rgb(122, 28, 72);
}

.App-head {
  text-align: center;
  background: rgb(51, 11, 30);
  color: #fff9de;
  font-size: 36px;
  padding: 1rem;
  font-weight: 600;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  background: #e9e5d6;
  color: rgb(51, 11, 30);
  font-size: 20px;
  padding: 1rem;
  font-weight: 300;
  margin-left: 10%;
  margin-right: 10%;
}

.App-eng {
  color: rgb(190, 46, 116);
  font-size: 18px;
}

.H {
  color: rgb(92, 72, 6);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
